.hidden {
    display: none;
}

.created-quizzes {
    margin: 77px 0px;
    max-width: 1051px;
    width: 100%;
    height: auto;
}

.empty {
    width: 100%;
    height: 181px;
    border: 1px dashed #d5d5d5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.empty.hidden {
    display: none;
}

.empty p {
    font-size: 20px;
    color: #b9b9b9;
}

.empty button {
    margin-top: 30px;
    background: #fff;
    border-radius: 50px;
    border: 1px dashed #EC362D;
    color: #EC362D;
    font-size: 21px;
    width: 151px;
    height: 40px;
    cursor: pointer;
}

.section-title {
    font-weight: 700;
    font-size: 20px;
    color: #000;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.section-title ion-icon {
    color: #EC362D;
    font-size: 44px;
    margin-left: 12px;
    cursor: pointer;
}


/* ul */

.quizzes-list {
    /* max-width: 1066px; */
    max-width: 1051px;
    row-gap: 12px;
    column-gap: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quizzes-list li {
    height: 181px;
}

.quizz-thumb {
    width: 100%;
    max-width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;
    z-index: 100;
    cursor: pointer;
}

.quizz-thumb>div {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
    z-index: 5;
}

.quizz-thumb p {
    font-size: 17px;
    color: #fff;
    position: absolute;
    left: 18px;
    bottom: 12px;
    z-index: 20;
    /* so it doesnt break the layout */
    max-width: calc(100% - 36px);
    word-wrap: break-word;
}

.quizz-thumb img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

@media(max-width:1100px) {
    .quizzes-list {
        flex-direction: column;
    }
    .quizz-thumb {
        margin-right: 0px;
    }
    .created-quizzes {
        margin: 31px 0px;
    }
    .section-title {
        justify-content: space-between;
    }
    /* add padding so the content doesnt hug the borders */
    .home-container {
        padding: 0 18px 18px 18px;
    }
}