.new-quizz {
    background-color: #fafafa;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.new-quizz h2 {
    font-size: 23px;
    font-weight: bold;
    line-height: 27px;
    margin-top: 70px;
}

.new-quizz h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
}

.new-quizz .input-group {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin-top: 27px;
}

.new-quizz input,
.new-quizz textarea {
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    display: block;
    width: 100%;
    height: 46px;
    padding-left: 23px;
    padding-right: 23px;
    margin-top: 9px;
    margin-bottom: 9px;
}

.new-quizz textarea {
    resize: none;
    padding-top: 13px;
    padding-bottom: 13px;
}

.new-quizz .sub-group{
    margin-bottom: 28px;
}

.new-quizz ::placeholder {
    color: #BABABA;
    font-style: italic;
    font-weight: normal;
    opacity: 1;
}

.new-quizz button {
    font-size: 21px;
    line-height: 25px;
    border-radius: 15px;
    border: none;
    background-color: #EC362D;
    color: white;
    height: 54px;
    max-width: 369px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 50px);
    margin-top: 85px;
    cursor: pointer;
}

.new-quizz .back-to-home {
    color: #818181;
    background-color: #fafafa;
    margin-top: 9px;
    margin-bottom: 20px;
    /* margin bottom applied so the button doesn't hug the end of the page */
}

.new-quizz .go-to-quizz,
.new-quizz .back-to-home {
    width: 220px;
}

.new-quizz .go-to-quizz {
    margin-top: 45px;
}

.new-quizz button:last-child {
    margin-bottom: 20px;
}

.new-quizz header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    padding: 20px;
}

.new-quizz :not(.collapsed) header {
    padding-bottom: 0;
}

.new-quizz .collapsible {
    padding: 0 20px 20px 20px;
}

.error-field{
    background-color: #FFE9E9;
}

.error-message{
    font-size: 16px;
    line-height: 19px;
    color: #EC362D;
}


/* collapse animation */

.new-quizz .collapsible {
    overflow: hidden;
    transition-property: max-height, padding-bottom;
    transition-duration: 500ms, 250ms;
    transition-timing-function: linear, linear;
    transition-delay: 0s, 250ms;
}

.new-quizz :not(.collapsed) .collapsible {
    max-height: 1200px;
    padding-bottom: 20px;
}

.new-quizz .collapsed .collapsible {
    max-height: 0;
    padding-bottom: 0;
}


/* collapse animation */

.new-quizz .svg {
    display: none;
    height: 26px;
    width: 29px;
}

.new-quizz .collapsed .svg {
    display: block;
}


/* .new-quizz .collapsed .collapsible{
  display: none;
} */


/* img with dark overlay */

.new-quizz figure {
    position: relative;
    width: calc(100vw - 40px);
    margin-left: 20px;
    margin-right: 20px;
    max-width: 500px;
    height: 266px;
    margin-top: 46px;
    border-radius: 5px;
    overflow: hidden;
}

.new-quizz figure::after {
    display: block;
    content: ' ';
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.new-quizz img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.new-quizz figcaption {
    position: absolute;
    bottom: 23px;
    left: 23px;
    color: white;
    font-size: 23px;
    line-height: 27px;
    z-index: 30;
    word-wrap: break-word;
    width: calc(100% - 40px);
}


/* img with dark overlay */

@media (max-width: 1100px) {
    .new-quizz h2,
    .new-quizz h3 {
        font-size: 20px;
        line-height: 23px;
    }
    .new-quizz h2 {
        margin-top: 37px;
    }
    .new-quizz .input-group {
        margin-top: 29px;
    }
    .new-quizz input {
        padding-left: 14px;
    }
    .new-quizz textarea {
        height: 177px;
        padding-left: 14px;
    }
    .new-quizz figure {
        margin-top: 29px;
    }
    .new-quizz button {
        font-size: 18px;
        line-height: 21px;
        margin-top: 29px;
    }
    .new-quizz .go-to-quizz {
        margin-top: 24px;
    }
}

.padding-20 {
    padding: 20px;
}