.play-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cover {
    width: 100%;
    height: 227px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 42px;
}

.cover img {
    width: 100%;
}

.cover p {
    position: absolute;
    color: #fff;
    font-size: 39px;
    font-weight: 400;
}

.shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.question-section {
    max-width: 759px;
    width: 100%;
    max-height: 679px;
    background: #fff;
    margin-bottom: 42px;
    padding: 36px;
}

.question {
    width: 100%;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0px 5px;
}

.question p {
    color: #fff;
    font-size: 23px;
    line-height: 23px;
    font-weight: 700;
    word-wrap: break-word;
}

.answer-section {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.answer {
    width: calc(50% - 10px);
    cursor: pointer;
}

.answer p {
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
    margin: 10px 0px;
    word-wrap: break-word;
}

.img-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 53%;
}

.img-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.choice.revealed {
    opacity: 0.3;
    cursor: auto;
}

.choice.picked {
    opacity: 1;
}

.choice.right-choice.revealed p {
    color: #009C22;
}

.choice.wrong-choice.revealed p {
    color: #FF0B0B;
}

.score-section {
    width: 759px;
    max-height: 679px;
    background: #fff;
    margin-bottom: 42px;
    padding: 18px;
    position: relative;
}

.play-container .level-title {
    width: 100%;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background: #EC362D;
}

.play-container .level-title p {
    color: #fff;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    word-wrap: break-word;
}

.play-container .level-image {
    position: relative;
    width: 50%;
    padding-bottom: 36%;
}

.play-container .level-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play-container .level-description {
    position: absolute;
    left: 52%;
    top: 38%;
    padding: 0px 14px 14px 0px;
}

.play-container .level-description p {
    font-weight: 700;
    font-size: 19px;
    color: #484848;
    line-height: 25px;
}

.play-container button {
    font-size: 21px;
    line-height: 25px;
    border-radius: 15px;
    border: none;
    background-color: #EC362D;
    color: white;
    height: 54px;
    max-width: 369px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 50px);
    margin-top: 85px;
    cursor: pointer;
}

.play-container .back-to-home {
    color: #818181;
    background-color: #fafafa;
    margin-top: 9px;
    margin-bottom: 20px;
}

.play-container .go-to-quizz,
.play-container .back-to-home {
    width: 220px;
}

.play-container .go-to-quizz {
    margin-top: 38px;
}

@media(max-width:1100px) {
    .question-section {
        padding: 16px;
        margin-bottom: 28px;
    }
    .question {
        text-align: center;
        margin-bottom: 12px;
    }
    .question p {
        font-size: 19px;
    }
    .answer-section {
        column-gap: 20px;
        row-gap: 4px;
    }
    .answer p {
        font-size: 13px;
        margin: 4px 0px;
    }
    .cover p {
        font-size: 19px;
        text-align: center;
    }
    .cover {
        margin-bottom: 24px;
    }
    .score-section {
        padding: 16px;
        margin-bottom: 28px;
    }
    .play-container .level-title {
        text-align: center;
        margin-bottom: 9px;
    }
    .play-container .level-title p {
        font-size: 18px;
    }
    .play-container .level-image {
        width: 100%;
        padding-bottom: 58%;
    }
    .play-container .level-description {
        margin: 15px 0px 8px 0px;
        padding: 0px;
        position: static;
    }
    .play-container .level-description p {
        font-size: 17px;
        line-height: 20px;
    }
    .play-container .go-to-quizz {
        margin-top: 28px;
    }
    @media(max-width: 376px) {
        .question-section {
            width: 100%;
        }
        .score-section {
            width: 100%;
        }
    }
}